@import 'resets';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Rubik:300');

html, body {
  height: 100%;
  background-color: #fff;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  // background-color: pink;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding: 50px;
}

.github-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  img {
    align-self: center;
    border-radius: 50%;
    width: auto;
    max-width: 200px;
    margin: 1rem;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2rem;

  form {
    display: flex;
    width: 100%;

    .search-query {
      min-width: 400px;
    }

    // input {
    //   width: 100%;
    // }
  }
  
  
}
